<span class="dropdown">
  <button class="btn btn-sm btn-resultset dropdown-toggle"
          type="button"
          title="Action menu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
  </button>
  <!-- Menu contents -->
  <ul class="dropdown-menu">
    <li ng-hide="resultset.isRunnableVisible"
        title="{{user.loggedin ? '' : 'Must be logged in'}}"
        class="{{user.loggedin ? '' : 'disabled'}}">
       <a target="_blank" data-ignore-job-clear-on-click
          class="dropdown-item"
          title="Add new jobs to this push"
          href=""
          ng-click="showRunnableJobs()">Add new jobs</a></li>
    <li ng-show="resultset.isRunnableVisible">
       <a target="_blank" data-ignore-job-clear-on-click
          class="dropdown-item"
          title="Hide Runnable Jobs"
          href=""
          ng-click="deleteRunnableJobs()">Hide Runnable Jobs</a></li>
    <li><a target="_blank" data-ignore-job-clear-on-click
           class="dropdown-item"
           href="https://secure.pub.build.mozilla.org/buildapi/self-serve/{{::repoName}}/rev/{{::resultset.revision}}">BuildAPI</a></li>
    <li ng-show="user.is_staff && triggerMissingRepos.includes(currentRepo.name)">
        <a target="_blank" data-ignore-job-clear-on-click
           class="dropdown-item"
           href=""
           ng-click="triggerMissingJobs(resultset.revision)">Trigger missing jobs</a></li>
    <li ng-show="user.is_staff">
        <a target="_blank" data-ignore-job-clear-on-click
           class="dropdown-item"
           href=""
           ng-click="triggerAllTalosJobs(resultset.revision)">Trigger all Talos jobs</a></li>
    <li><a target="_blank" data-ignore-job-clear-on-click
           class="dropdown-item"
           href="https://bugherder.mozilla.org/?cset={{::resultset.revision}}&amp;tree={{::repoName}}"
           title="Use Bugherder to mark the bugs in this push">Mark with Bugherder</a></li>
    <li><a target="_blank" data-ignore-job-clear-on-click
           class="dropdown-item"
           href=""
           ng-click="customPushAction()"
           title="View/Edit/Submit Action tasks for this push">Custom Push Action...</a></li>
    <li><a target="_blank"
           class="dropdown-item"
           href="{{toChangeValue()}}&tochange={{resultset.revision}}" prevent-default-on-left-click
           ng-click="jobFilters.addFilter('tochange', resultset.revision)">Set as top of range</a></li>
    <li><a target="_blank"
           class="dropdown-item"
           href="{{fromChangeValue()}}&fromchange={{resultset.revision}}" prevent-default-on-left-click
           ng-click="jobFilters.addFilter('fromchange', resultset.revision)">Set as bottom of range</a></li>
  </ul>
</span>
